body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: bisque;
  text-align: center;
  background-image: url(https://images.pexels.com/photos/461198/pexels-photo-461198.jpeg?cs=srgb&dl=pexels-pixabay-461198.jpg&fm=jpg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
